.tag {
    display: inline-block;
    padding: 1rem 1.6rem 1rem;
    font-size: 1.1rem;
    border-radius: 100px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #CAFF3D;
    color: $color_text;

    &--small {
        padding: 0.6rem 0.8rem 0.6rem;
    }
}