.button {
    @include button-reset();
    padding: 1.7rem 3.4rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    background-color: $color_accent_1;
    transition: background-color 0.35s;
    cursor: pointer;

    &:hover {
        background-color: darken($color_accent_1, 5%);
    }

    &:focus {
        outline-color: lighten($color_accent_1, 30%);
    }
}