.form {
    &__input {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 1rem;
        padding-bottom: 1rem;
        display: block;
        width: 100%;
        max-width: 520px;
        font-size: 2rem;
        border: none;
        text-align: center;
        border-bottom: 1px solid #fff;
        color: #fff;
        background-color: transparent;

        transition: border-color 0.35s;

        &:focus {
            outline: none;
            border-color: $color_accent_1;
        }

        &::placeholder {
            text-align: center;
        }
    }

    &__button {
        margin-top: 4rem;
    }

    div.wpcf7-response-output {
        margin-top: 2rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 520px;
        padding: 1.5rem;
        font-size: 1.4rem;
    }

    span.wpcf7-not-valid-tip {
        margin-top: 1rem;
        margin-bottom: -0.5rem;
        font-size: 1.6rem;
        font-weight: normal;
    }
}