.hero {
    position: relative;
    padding-top: 15rem;
    padding-bottom: 3.5rem;
    overflow: hidden;
    min-height: 100vh;
    text-align: center;
    background-color: $color_bg_dark;
    background-image: url($theme_dist + '/assets/img/hero-bg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    @media (min-width: $xl) {
        padding-top: 18rem;
    }

    &__content {
        & > p {
            margin-top: 2rem;
            margin-bottom: 0;
            font-size: 1.6rem;

            @media (min-width: $sm) {
                margin-top: 3.5rem;
                font-size: 1.6rem;
            }
        }
    }

    &__headline {
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-size: 1.6rem;
        font-weight: 300;
        letter-spacing: 1px;

        @media (min-width: $sm) {
            font-size: 2rem;
        }
    }

    &__heading {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 3.8rem;
        font-weight: normal;
        line-height: 1.25;

        @media (min-width: $md) {
            font-size: 4.2rem;
        }
    }

    &__subheading {
        margin-top: 0;
        margin-bottom: 2rem;
        font-size: 2.6rem;
        line-height: 1;
        font-weight: 300;
        letter-spacing: 6px;

        @media (min-width: $sm) {
            font-size: 3.2rem;
        }
    }

    &__button {
        margin-top: 2.5rem;
    }

    &__info {
        margin-left: auto;
        margin-right: auto;
        margin-top: 4rem;
        margin-bottom: 0;
        max-width: 430px;
        font-size: 1.4rem;
        line-height: 1.4;
        //opacity: 0.5;

        max-width: 658px;
        font-size: 2.2rem;
    }

    &__arrow {
        position: absolute;
        left: 33%;
        bottom: 80px;
        height: 55px;

        display: none;
        @media (min-width: $xl) {
            display: block;
        }
    }

    &__play-btn {
        @include button-reset();
        margin-top: 6rem;
        margin-left: auto;
        margin-right: auto;
        max-width: 110px;
        cursor: pointer;

        &:focus {
            outline: none;
        }

        @media (min-width: $sm) {
            margin-right: 10rem;
        }

        svg {
            width: 100%;
            fill: #96398d;
            box-shadow: 0 0 0 0 rgba(150,57,141,.5);
            animation: pulse 1.5s infinite;
            border-radius: 50%;
        }

        @media (min-width: $lg) {
            position: absolute;
            bottom: 100px;
            right: 10%;
        }
    }
}

@keyframes pulse {
    0% {
      transform: scale(0.9);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 50px rgba($color_accent_1, 0);
    }
    
    100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba($color_accent_1, 0);
    }
  }