/*--------------------------------------------------------------
# Basic layout tweaks
--------------------------------------------------------------*/

html {
    box-sizing: border-box;
    font-size: 8px;
    font-weight: $fw_default;
    background-color: $color_bg;
    cursor: default;
    @media (min-width: $md) {
        font-size: 9px;
    }
    @media (min-width: $lg) {
        font-size: 10px;
    }
}

body {
    font-size: 1.8rem;
    color: $color_text;
    font-family: $ff_main;
    background-color: $color_bg;

    @media (min-width: $sm) {
        font-size: $fz_text;
    }
}

a {
    color: $color_text;
    text-decoration: none;
    transition: color 0.25s;

    &:hover {
        color: $color_accent_1;
    }
}

p, strong {
    line-height: 1.6;
}

h1, h2, h3 {
    line-height: 1.3;
    
    strong {
        line-height: 1.3; 
    }
}

svg path {
    fill: inherit;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Utility classes
--------------------------------------------------------------*/

.db {
    display: block;
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 8rem;
}

.color-accent {
    color: $color_accent_1;
}

.color-accent-2 {
    color: $color_accent_2;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

/*--------------------------------------------------------------
# Single class blocks
--------------------------------------------------------------*/
.label {
    font-size: 1.2rem;
}

.icon {
    &--left {
        margin-right: 1rem;
    }
}

.link {
    text-decoration: underline;
    text-underline-position: under;
}

.find-out {
    padding-bottom: 10rem;
    background-color: #F0F0F0;
    background-image: url($theme_dist + '/assets/img/find-out-bg.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-width: $lg) {
        min-height: 100vh;
    }


    &__heading-row {
        text-align: center;
        justify-content: center;
    }

    &__content-row {
        margin-top: -2rem;
        align-items: flex-end;

        @media (min-width: $lg) {
            margin-top: -8rem;
        }

        & > .find-out__col {
            margin-top: 5rem;

            @media (min-width: $lg) {
                margin-top: 10rem;
            }

            &:nth-of-type(1) {
                .find-out__text {
                    font-size: 2.4rem;
                }

                .find-out__item {
                    @media (min-width: $lg) {
                        align-items: flex-end;
                    }
                }
            }

            &:nth-of-type(2) {
                @media (min-width: $lg) {
                    order: 3;
                    .find-out__item {
                        align-items: flex-end;
                    }
                }
            }

            &:nth-of-type(3) {
                @media (min-width: $lg) {
                    order: 2;
                }
            }

            &:nth-of-type(4) {
                @media (min-width: $lg) {
                    order: 4;
                    .find-out__item {
                        align-items: center;
                    }
                }
            }
        }
    }

    &__item {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        max-width: 400px;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 3rem;
        font-size: 1.8rem;
        line-height: 1.4;

        @media (min-width: $sm) {
            padding-left: 3.5rem;
        }

        strong {
            margin-top: -0.5rem;
            display: block;
            font-size: 4rem;
            font-weight: bold;
            line-height: 1;

            @media (min-width: $sm) {
                margin-top: -1rem;
                font-size: 5.5rem;
                line-height: 0.9;
            } 
        }
    }

    &__number {
        font-size: 14rem;
        line-height: 0.8;
        font-weight: bold;
        color: $color_accent_1;

        @media (min-width: $sm) {
            font-size: 16rem;
        }
    }
}

.person {
    padding-bottom: 8rem;
    color: #fff;
    background-color: $color_bg_dark;
    background-image: url($theme_dist + '/assets/img/person-bg.png');

    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    @media (min-width: $lg) {
        min-height: 100vh;
        padding-bottom: 14rem;
    }

    &__heading-col {
        text-align: center;

        @media (min-width: $lg) {
            text-align: left;
        }
    }

    &__content {
        font-size: 1.8rem;
        
        @media (min-width: $lg) {
            margin-top: 25rem;
        }

        @media (min-width: $xl) {
            margin-top: 17rem;
        }

        & > h3 {
            margin-bottom: 3.5rem;
            font-size: 3.2rem;

            @media (min-width: $sm) {
                font-size: 4rem;
            }
        }

        & > p {
            margin-top: 3.5rem;
        }

    }
}

.visit {
    padding-bottom: 8rem;
   
    @media (min-width: $lg) {
        padding-bottom: 10rem;
    }

    &__heading-row {
        text-align: center;
    }

    &__benifits {
        margin-top: 4rem;
    }
}


.register {
    padding-bottom: 8rem;
    text-align: center;
    background-color: $color_bg_dark;
    background-image: url($theme_dist + '/assets/img/register-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    
    @media (min-width: $lg) {
        padding-bottom: 13rem;
    }

    &__heading {
        margin-bottom: 3rem;
    }

    &__form {
        margin-top: 9rem;
    }

    &__arrow {
        position: absolute;
        left: 62%;
        bottom: -50px;
        height: 55px;
        transform: rotateZ(125deg);

        display: none;
        @media (min-width: $xl) {
            display: block;
        }
    }
}

@import 'components/BenifitGrid/BenifitGrid';

