$theme_dist: '/wp-content/themes/korneeva-beauty/dist';

/**
* Breakpoints 
*/
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1240px;

$xs_down: $xs - 1px;
$sm_down: $sm - 1px;
$md_down: $md - 1px;
$lg_down: $lg - 1px;
$xl_down: $xl - 1px;

/**
* Typeography 
*/
$fz_text: 2.2rem;
$fw_default: 300;

$ff_main: 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", Arial, sans-serif;
$ff_accent: 'Roboto', "Helvetica Neue", Arial, sans-serif;

/**
* Colors 
*/

$color_text: #191919;
$color_accent_1: #96398D; 
$color_accent_2: #B5E343;
$color_bg: #FFFFFF;
$color_bg_dark: #141519;