.b-benefit-grid {
    font-size: 1.6rem;
    background-color: #fff;
    box-shadow: 0px 16px 30.38px 18.62px rgba(0, 0, 0, 0.16);
}

  
.b-benefit-grid__item {
    position: relative;
    width: 100%;
    margin-top: 1em;
    text-align: center
}

.b-benefit-grid__item:first-child {
    margin-top: 0
}

.b-benefit-grid__item-content {
    padding: 2em 1em
}

.b-benefit-grid__item-icon {
    margin-bottom: 1em;
    fill: #F6DEDE;
}

.b-benefit-grid__item-caption {
    font-size: 11px;
    font-weight: 500;
    line-height: 1.63636;
    color: #4a4651;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 1em
}

.b-benefit-grid__item-content-inner {
    width: 100%;
}

.b-benefit-grid__item-cover {
    display: block;
    width: 100%;
    height: 250px;
    object-fit: cover
}

@media only screen and (min-width: $sm) {
    .b-benefit-grid__item {
        display: flex;
        margin-top: 0
    }

    .b-benefit-grid__item-content,.b-benefit-grid__item-cover {
        flex: 0 0 50%;
        max-width: 50%;
        width: 50%
    }

    .b-benefit-grid__item-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px
    }

    .b-benefit-grid__item:nth-child(even) .b-benefit-grid__item-cover {
        order: -1
    }
}

@media only screen and (min-width: $md) {
    .b-benefit-grid__item-content {
        padding:45px
    }

    .b-benefit-grid__item-cover {
        width: 100%;
        height: 420px;
        object-fit: cover
    }
}

@media only screen and (min-width: $xl) {
    .b-benefit-grid {
        display: flex;
        flex-wrap: wrap
    }

    .b-benefit-grid__item {
        flex: 0 0 50%;
        max-width: 50%
    }

    .b-benefit-grid__item-icon {
        margin-bottom: 35px
    }

    .b-benefit-grid__item-caption {
        margin: 0 0 30px
    }

    .b-benefit-grid__item:nth-child(4n+1) .b-benefit-grid__item-cover,.b-benefit-grid__item:nth-child(4n+2) .b-benefit-grid__item-cover {
        order: 2
    }

    .b-benefit-grid__item:nth-child(4n+3) .b-benefit-grid__item-cover,.b-benefit-grid__item:nth-child(4n+4) .b-benefit-grid__item-cover {
        order: -1
    }
}