.heading {
    margin-top: 0;
    font-size: 3.6rem;
    line-height: 1.2;

    @media (min-width: $sm) {
        font-size: 5.4rem;
    }

    @media (min-width: $lg) {
        font-size: 5rem;
    }

    @media (min-width: $xl) {
        font-size: 6.5rem;
    }
}