.modal[aria-hidden='true'] {
    display: none;
}

.modal {
    &--media {
        .modal__grid {
            min-height: 1px;

            @media (max-width: $sm + _em(1px)) {
                width: 100%;
            }
        }

        .modal__container {
            padding: 0;
            background: transparent;
            border-radius: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;
        }

        .modal__close {
            top: -3.5rem;
            right: 2.5rem;
            width: 1.6rem;
            height: 1.6rem;
            fill: #fff;

            @media (min-width: $lg + _em(120px)) {
                top: 1rem;
                right: -5rem;
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

.modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    z-index: 999;
    height: 100vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    outline: none;
}

.modal__container {
    position: relative;
    padding: 3.5rem 2rem;
    text-align: center;

    @media (min-width: $lg) {
        padding: 4rem 3rem;
    }
}

.modal__form-wrapper {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 830px;
}

.modal__close {
    @include button-reset();
    padding: 0;
    display: block;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    cursor: pointer;
    opacity: 0.6;
    width: 1.6rem;
    height: 1.6rem;
    z-index: 65;
    transition: fill 0.25s;

    &:hover {
        fill: $color_accent_1;
    }

    @media (min-width: $md) {
        top: 2.5rem;
        right: 2.5rem;
    }

    @media (min-width: $lg) {
        top: 1rem;
        right: -5rem;
        width: 3rem;
        height: 3rem;
        fill: #fff;
    }
}

.modal[aria-hidden="false"] .modal__overlay {
  animation: mm-fadeIn .4s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.modal .modal__container,
.modal .modal__overlay {
  will-change: transform;
}

@keyframes mm-fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.modal__close--bg {
    border-radius: 50%;
    padding: 0.8rem 0.8rem 0.5rem;
    background: #ffffff;
    opacity: 0.6;

    @media (min-width: $md) {
        padding: 0.8rem 0.5rem 0.5rem;
    }
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.responsive-video__video, 
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}