.header {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4rem;
    width: 100%;
    text-align: center;
    z-index: 25;
    color: #fff;
    font-size: 1.4rem;

    @media (min-width: $sm) {
        padding-top: 5rem;
        font-size: 1.8rem;
    }

    p {
        margin-top: 1.5rem;
        margin-bottom: 0;
    }

    &__row {
        align-items: center;
    }
}