.prices-card {
    background-color: #fff;
    display: flex;
    flex-direction: column;

    &__header {
        padding: 5.5rem 5rem 3rem;
        width: 100%;
        text-align: center;
        background-color: #2C252B;
        color: #fff;

        .prices-card__heading {
            margin-top: 0;
        }

        .prices-card__tag {
            margin-top: 3.3rem;
        }
    }

    &__old-price {
        margin-top: 2rem;
        font-size: 1.8rem;
        text-decoration: line-through;
    }

    &__price {
        margin-top: 0.5rem;
        font-size: 2.4rem;
    }

    &__body {
        display: flex;
        flex-direction: column;
        
        padding-top: 1.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;

        @media (min-width: $sm) {
            padding-left: 5rem;
            padding-right: 5rem;
        }
    }

    &__list {
        margin-top: 3rem;
        padding-left: 2.5rem;
    }

    &__item {
        margin-top: 1.5rem;
        font-size: 1.4rem;
        line-height: 1.5;
        vertical-align: middle;
    }

    &__heading {
        font-size: 1.4rem;
        text-transform: uppercase;
    }

    &__features {
        text-align: left;

        @media (min-width: $lg) {
            min-height: 445px;
        }

        @media (min-width: $xl) {
            min-height: 420px;
        }
    }

    &__footer { 
        margin-top: auto;
        padding-top: 3.5rem;
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        padding-bottom: 5rem;
        text-align: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: $sm) {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        .prices-card__heading {
            padding-top: 4.5rem;
            text-align: center;
            border-top: 1px solid #EFEFEF;
        }
    }

    &__button {
        margin-top: 2.5rem;
        font-size: 1.4rem;
        width: 100%;
    }

    &__tag {
        vertical-align: middle;
    }
}