.thanks {
    padding-top: 10rem;
    padding-bottom: 19rem;
    background-color: $color_bg_dark;
    background-image: url($theme_dist + '/assets/img/thanks-bg.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;

    &__row {
        align-items: center;
    }

    &__heading {
        margin-bottom: 4rem;
    }

    &__content {
        margin-top: 3rem;
        font-size: 1.9rem;

        @media (min-width: $lg) {
            margin-top: 0;
        }

        & > p {
            margin-top: 2rem;
        }

        & > .highlight {
            color: $color_text;
            & > span {
                padding: 1rem;
                background-color: #CAFF3D;
                box-decoration-break: clone;
                -webkit-box-decoration-break: clone;
            }
        }

        & > .info {
            font-size: 1.3rem;
            opacity: 0.5;
        }
    }
}