.footer {
    padding-top: 5rem;
    padding-bottom: 6rem;
    text-align: center;

    @media (min-width: $lg) {
        text-align: left;
    }

    &__row {
        margin-top: -2rem;
        align-items: center;
    }

    &__col {
        margin-top: 2rem;
        &--info {
            font-size: 1.6rem;
            line-height: 1.4;
        }
        &--links {
            font-size: 2rem;
            @media (min-width: $lg) {
                text-align: center;
            }
        }
        &--logo {
            @media (min-width: $lg) {
                text-align: right;
            }
        }
    }

    &__link {
        display: block;
        
        & + .footer__link {
            margin-top: 1.5rem;
        }
    }

    &__form {
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 670px;
        margin-top: -170px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        background-color: #F0F0F0;

        @media (min-width: $xl) {
            margin-top: -215px;
        }
    }
}