.prices {
    padding-bottom: 8.5rem;
    background-color: #F0F0F0;
    background-image: url($theme_dist + '/assets/img/bg.svg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    .prices__col {
        padding-top: 6.1rem;
        padding-bottom: 3.5rem;
        display: flex;

        &:nth-of-type(2) {
            padding-top: 0;
            padding-bottom: 0;

            .prices__card {
                box-shadow: 0px 2px 65px rgba(0, 0, 0, 0.18);
                z-index: 15;
                
                .prices-card__header {
                    background-color: #973695;
                }

                .prices-card__footer {
                    @media (min-width: $lg) {
                        padding-bottom: 8.7rem;
                    }
                }
            }
        }
    }

    .prices__card {
        width: 100%;
    }

    &__heading-grid {
        text-align: center;
    }

    .prices__decor {
        position: absolute;
        left: 32%;
        top: 5%;
        width: 440px;
        z-index: 25;
        pointer-events: none;

        display: none;

        @media (min-width: $xl) {
            display: block;
        }
    }
}